<?xml version="1.0"?>
<config>
    <modules>
        <Sr_VersionCheck>
            <version>0.0.2</version>
        </Sr_VersionCheck>
    </modules>
    <global>
        <blocks>
            <sr_version_check>
                <class>Sr_VersionCheck_Block</class>
            </sr_version_check>
        </blocks>
        <helpers>
            <sr_version_check>
                <class>Sr_VersionCheck_Helper</class>
            </sr_version_check>
        </helpers>
        <models>
            <sr_version_check>
                <class>Sr_VersionCheck_Model</class>
                <resourceModel>sr_version_check_resource</resourceModel>
            </sr_version_check>
            <sr_version_check_resource>
                <class>Sr_VersionCheck_Model_Resource</class>
                <entities>
                    <module>
                        <table>connect_modules</table>
                    </module>
                    <backup>
                        <table>connect_modules_backup</table>
                    </backup>
                </entities>
            </sr_version_check_resource>
        </models>
        <resources>
            <sr_version_check_setup>
                <setup>
                    <module>Sr_VersionCheck</module>
                </setup>
            </sr_version_check_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sr_version_check before="Mage_Adminhtml">Sr_VersionCheck_Adminhtml</sr_version_check>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sr_version_check>
                    <file>sr_version_check.xml</file>
                </sr_version_check>
            </updates>
        </layout>
    </adminhtml>
</config>
